.charger {
    width: 180px;
    height: 185px;
    position: relative;
    margin: 90px auto 0px;
    background-image: url(../assets/charging.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    z-index: 3;
}
.blog-in-progress {
    align-content: center
}

.message-title {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;    text-align: center;
    color: black;
    line-height: 28px;
    margin: 25px 10px 55px 10px;
}